@import 'index.scss';

:host {
    @include flex-row;
    height: max-content;
    width: max-content;
    #fileDropRef {
        display: none;
    }

    .card {
        @include flex-row;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 300px;
        border: 1px solid white;

    }

    .fileover {
        border: 1px dashed black;
    }
}