@import 'index.scss';

:host {
    @include flex-col;
    height: max-content;
    margin-bottom: 24px;
    ::ng-deep mat-card {
        @include flex-col;
        min-height: 300px;
        min-width: 300px;
    } 
}