@import 'index.scss';

:host {
    @include flex-row;
    height: 100vh;
    width: 100vw;
    padding: 80px;
    align-items: flex-start;
    justify-content: center;

    .container {
        @include flex-col;
        width: 50%;
        height: auto;
        align-items: center;
    }
}